@font-face {
  font-family: Champagne;
  src: url(../../Assets/fonts/Champagne\ &\ Limousines.ttf);
}

@font-face {
  font-family: Moonrising;
  src: url(../../Assets/fonts/Moonrising.ttf);
}

@media only screen and (min-width: 360px) and (max-width: 576px) {
  .container {
    position: relative;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    font-family: Moonrising;
    font-size: 30px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    top: 3%;
    right: 2%;
    letter-spacing: -10px;
  }

  .image-background {
    width: 100%;
  }
}
