@font-face {
  font-family: Champagne;
  src: url(../../Assets/fonts/Champagne\ &\ Limousines.ttf);
}

.category-detail-container {
  width: 45%;
  height: 300px;
  margin-left: 2.5%;
}

.category-image-container {
  position: relative;
}

.bra-category {
  position: absolute;
  width: 100%;
}

.arrow-category {
  position: absolute;
  width: 30px;
  margin-left: 80%;
  margin-top: 85%;
}

.category-detail-title {
  position: absolute;
  font-size: 20px;
  font-family: Champagne;
  margin-left: 30%;
  margin-top: 85%;
}
